<div>
<div class="container-fluid bg-3 text-center table-bordered flex-column flex-row">
<h3>Where To Find Me?</h3>
<br />
<div class="row-sm-4 flex-row">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        </p>
        <img
                src="https://media.istockphoto.com/id/2148625827/photo/wild-african-lilac-breasted-roller-perched-on-a-thorny-branch.webp?b=1&s=612x612&w=0&k=20&c=PK7ImvJInOwGodYBTvLJpgx7cML7Z2qhiy4YMRKhOx8="
                class="img-responsive"
                style="width: 100%"
                alt="Image"
        />
    </div>
    <div class="row-sm-4 text-wrap  flex-row">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        </p>
        <img
                src="https://media.istockphoto.com/id/2148625827/photo/wild-african-lilac-breasted-roller-perched-on-a-thorny-branch.webp?b=1&s=612x612&w=0&k=20&c=PK7ImvJInOwGodYBTvLJpgx7cML7Z2qhiy4YMRKhOx8="
                class="img-responsive"
                style="width: 100%"
                alt="Image"
        />
    </div>
    <div class="row-sm-4  flex-row">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        </p>
        <img
                src="https://media.istockphoto.com/id/2148625827/photo/wild-african-lilac-breasted-roller-perched-on-a-thorny-branch.webp?b=1&s=612x612&w=0&k=20&c=PK7ImvJInOwGodYBTvLJpgx7cML7Z2qhiy4YMRKhOx8="
                class="img-responsive"
                style="width: 100%"
                alt="Image"
        />
    </div>
</div>
</div>